@model MeetDown.Web.Models.UserProfileModel

@{
    ViewBag.Title = "Information about user " + Model.User.Name;
}

<h2>@Model.User.Name</h2>

Sjansen er god for at det ikke er så mye info her!

<p>Joined MeetDown: @Model.User.Joined.ToLongDateString()</p>

<p>
    Introduksjon som vil være tom for alle: @Model.User.Introduction
</p>

<p>
    Grupper som brukeren er medlem av:
    
    <ul>
        @foreach (var grp in Model.Groups)
        {
            <li>@Html.ActionLink(grp.Name, "Info", "Group", new { slug = grp.Slug }, null)</li>
        }
    </ul>
</p>